// КНОПКА
.btn {
	display: inline-flex;
	align-items: center;
	min-height: 50px;
	padding: 0px 0px;
	background-color: $siteColor;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	transition: color 0.3s ease;
	&:hover {
		color: #30383b;
	}
	&_black {
		background-color: #30383b;
		transition: background-color 0.3s ease-in-out;
		&:hover {
			background-color: $siteColor;
			color: #fff;
		}
	}
	@media (min-width: 992px) {
		&:hover {
		}
	}
}
// КНОПКА

// APPOINTMENT FORM
.form-appointment {
	&__wrapper {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		&:not(:last-child) {
			margin: 0px 0px 42px 0px;
		}
		@media (max-width: 1023px) {
			width: 100%;
			justify-content: center;
		}
		@media (max-width: 424px) {
			flex-wrap: wrap;
		}
	}
	&__item {
		margin: 80px 0px 0px 0px;
		@media (max-width: 1023px) {
			width: 100%;
			display: flex;
			justify-content: center;
			margin: 50px 0px 0px 0px;
		}
		@media (max-width: 424px) {
			margin: 25px 0px 0px 0px;
		}
	}

	&__input {
		display: block;
		color: #999999;
		font-size: 12px;
		text-transform: uppercase;
		max-width: 320px;
		width: 100%;
		padding: 0px 0px 15px 0px;
		border-bottom: 1px solid #d4d3d3;
		outline: none;
		background: none;
		&:not(:last-child) {
			margin: 0px 0px 0px 20px;
		}
		@media (max-width: 424px) {
			&:not(:last-child) {
				margin: 0px 0px 40px 0px;
			}
		}
		&.error {
			border-bottom: 1px solid red;
			&::placeholder {
				color: red;
			}
		}
	}
	&__select {
	}
	&__btn {
		margin: 30px 0px 0px 0px;
		padding: 0px 25px;
		text-transform: capitalize;
	}
}
textarea.form-appointment__input {
	max-width: 660px;
	width: 100%;
	resize: vertical;
	@media (max-width: 424px) {
		max-width: 320px;
	}
}
// SELECT
.select {
	position: relative;
	width: 100%;
	max-width: 320px;
	// .select__item
	&__item {
		position: relative;
	}
	// .select__title
	&__title {
		color: #999999;
		text-transform: uppercase;
		border-bottom: 1px solid #d4d3d3;
		background-color: transparent;
		cursor: pointer;
	}
	// .select__value
	&__value {
		display: flex;
		font-size: 12px;
		padding: 0px 0px 18px 0px;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		span {
			height: 1em;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
		&:before {
			content: "";
			display: inline-block;
			transition: all 0.3s ease 0s;
			width: 10px;
			height: 6px;
			background: url(../img/sel-arr.png) center / 100% no-repeat;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #999999;
		display: none;
		position: absolute;
		top: 31px;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff9f8;
		border-top: 0;
		border: 1px solid #d9d9d9;
		border-top: 0;
		font-size: 12px;
		padding: 10px 0px 10px 0px;
		text-transform: uppercase;
	}
	// .select__option
	&__option {
		cursor: pointer;
		padding: 10px 15px;
		margin: 0px 0px 0px 0px;
		&:hover {
			background-color: #dfd9d9;
		}
	}
	&._active {
		z-index: 5;
		.select__value {
			&:before {
				transform: rotate(-180deg);
			}
		}
		.select__options {
			display: block;
		}
	}
}
// SELECT
// APPOINTMENT FORM

// CONTACTS FORM
.form-contact {
	&__input {
		display: block;
		width: 100%;
		height: 50px;
		border: 1px solid #e3e6ea;
		padding: 0px 0px 0px 20px;
		color: #999999;
		font-size: 12px;
		font-weight: 300;
		text-transform: uppercase;
		margin: 0px 0px 20px 0px;
		outline: none;
		&.error {
			border: 1px solid red;
			&::placeholder {
				color: red;
			}
		}
	}
	textarea {
		padding: 32px 20px 20px;
		min-height: 150px;
		margin: 0px 0px 30px 0px;
		resize: vertical;
	}
	&__btn {
		padding: 0px 45px;
	}
}
// CONTACTS FORM
