// MAIN SCREEN
.main-screen {
	background: url(../img/flowers/01.png) no-repeat left center/12.4%;
	@include adaptiv-value("margin-top", 150, 50, 1);
	&__img {
		width: 43.4%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
	&__info {
		max-width: 540px;
		@include adaptiv-value("padding-top", 112, 60, 1);
		padding-bottom: 20px;
	}
	&__btns {
		@media (max-width: 374px) {
			display: flex;
			flex-direction: column;
		}
	}
	&__subtitle {
		display: block;
		font-family: $Rufina;
		font-size: 15px;
		color: $siteColor;
		text-transform: uppercase;
		margin: 0px 0px 0px 0px;
		@media (max-width: 320px) {
			font-size: 13px;
		}
	}
	&__title {
		font-family: $Rufina;
		font-size: 60px;
		font-weight: 700;
		line-height: 75px;
		margin: 0px 0px 23px 0px;
		@media (max-width: 767px) {
			font-size: 40px;
			line-height: 50px;
		}
		@media (max-width: 374px) {
			font-size: 35px;
			line-height: 40px;
		}
		@media (max-width: 320px) {
			margin: 0px 0px 10px 0px;
		}
	}
	&__text {
		color: $textColor;
		font-size: 15px;
		line-height: 27px;
		margin: 0px 0px 45px 0px;
		@media (max-width: 424px) {
			margin: 0px 0px 30px 0px;
		}
	}
	&__btn {
		display: inline-flex;
		align-items: center;
		min-height: 50px;
		text-transform: uppercase;
		color: #fff;
		font-size: 13px;
		font-weight: 500;
		padding: 0px 31px;
		margin: 0px 55px 0px 0px;
		background-color: $siteColor;
		&:after {
			content: "";
			display: block;
			width: 12px;
			height: 12px;
			background: url(../img/icons/btn-arrow.png) no-repeat right;
			margin: 0px 0px 0px 10px;
			transition: transform 0.4s ease-out;
		}
		&:hover {
			&:after {
				transform: translateX(10px);
			}
		}
		@media (max-width: 767px) {
			margin: 0px 30px 0px 0px;
		}
		@media (max-width: 424px) {
			min-height: 40px;
			padding: 0 20px;
		}
		@media (max-width: 374px) {
			margin: 0px 0px 20px 0px;
			max-width: 155px;
		}
		@media (max-width: 352px) {
			margin: 0px 30px 15px 0px;
		}
		@media (max-width: 320px) {
			margin: 0px 0px 15px 0px;
		}
	}
	&__video-btn {
		color: #555555;
		font-size: 15px;
		background: none;
		position: relative;
		transition: color 0.3s ease;
		&:before {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 10px;
			color: $siteColor;
			width: 44px;
			height: 44px;
			background-color: #fcf5ee;
			border-radius: 50%;
			margin-right: 15px;
		}
		&:hover {
			color: $siteColor;
		}
		@media (max-width: 424px) {
			&:before {
				width: 35px;
				height: 35px;
				margin-right: 10px;
			}
		}
	}
}
// MAIN SCREEN

// ABOUT
.about {
	position: relative;
	@include adaptiv-value("margin-top", 300, 30, 3);
	padding: 40px 0px 0px 0px;
	@include adaptiv-value("margin-bottom", 100, 20, 1);
	&__info-subtitle {
		color: $textColor;
		font-size: 20px;
		text-transform: uppercase;
		margin: 0px 0px 35px 0px;
		@media (max-width: 767px) {
			margin: 0px 0px 20px 0px;
			font-size: 18px;
		}
		@media (max-width: 424px) {
			font-size: 16px;
			margin: 0px 0px 15px 0px;
		}
	}
	&__info {
		text-align: center;
		@include adaptiv-value("margin-bottom", 140, 40, 1);
	}
	&__info-icon {
		color: $siteColor;
		font-size: 84px;
		margin: 0px 0px 25px 0px;
		@media (max-width: 767px) {
			font-size: 60px;
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: 424px) {
			font-size: 50px;
		}
	}
	&__info-btn {
		margin: 60px 0px 0px 0px;
		padding: 0px 47px;
		align-self: center;
		transition: color 0.3s ease;
		@media (max-width: 767px) {
			margin: 40px 0px 0px 0px;
		}
		@media (max-width: 424px) {
			margin: 30px 0px 0px 0px;
			padding: 0 30px;
			min-height: 40px;
			font-size: 13px;
		}
	}
	&__slider {
	}
}

.slider-about {
	&__wrapper {
		display: flex;
	}
	&__slide {
		&:not(:last-child) {
			margin: 0px 5px 0px 0px;
			@media (max-width: 1024px) {
				margin: 0px 0px 0px 0px;
			}
		}
		@media (min-width: 1025px) {
			flex: 0 1 25%;
		}
	}
}

.slide-about {
	&:hover {
		.slide-about__hover {
			opacity: 1;
			visibility: visible;
		}
	}
	&__img {
		padding: 0px 0px 119.9% 0px;
	}
	&__hover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($siteColor, 0.9);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.5s ease, visibility 0.5s;
	}
	&__hover-icon {
		font-size: 47px;
		color: #fff;
		margin: 0px 0px 25px 0px;
	}
	&__hover-text {
		color: #fff;
		font-family: $Rufina;
		font-size: 22px;
		font-weight: 700;
	}
}
.flower1,
.flower2 {
	position: absolute;
	@media (max-width: 767px) {
		display: none;
	}
}
.flower1 {
	top: -85px;
	left: 305px;
	@media (max-width: 1200px) {
		left: 50px;
	}
}
.flower2 {
	top: 187px;
	right: 113px;
	@media (max-width: 1200px) {
		top: 100px;
		right: 50px;
	}
}
// ABOUT

// PROCEDURE
.procedure {
	@include adaptiv-value("margin-bottom", 180, 50, 1);
	padding: 40px 0px 0px 0px;
	&__row {
		margin: 75px 0px 0px 0px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		@media (max-width: 1023px) {
			grid-column-gap: 20px;
		}
		@media (max-width: 767px) {
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 20px;
			justify-content: center;
			margin: 40px 0px 0px 0px;
		}
		@media (max-width: 560px) {
			grid-template-columns: 1fr;
		}
	}
	&__column {
	}
	&__item {
	}
}
.item-procedure {
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	border: 1px solid #e3e6ea;
	padding: 20px 20px 50px 20px;
	transition: box-shadow 0.3s ease;
	&:hover {
		box-shadow: 0 15px 40px rgba(4, 10, 50, 0.1);
	}
	@media (max-width: 1023px) {
		padding: 15px 15px 50px 15px;
	}
	@media (max-width: 767px) {
		padding: 15px 15px 30px 15px;
	}
	@media (max-width: 560px) {
		max-width: 400px;
		margin: 0px auto;
	}
	&__img {
		padding: 0px 0px 83% 0px;
	}
	&__title {
		margin: 40px 0px 30px 0px;
		font-size: 22px;
		font-family: $Rufina;
		font-weight: 700;
		flex: 1 1 auto;
		@media (max-width: 767px) {
			margin: 25px 0px 10px 0px;
		}
	}
	&__text {
		color: $textColor;
		line-height: 27px;
		flex: 1 1 auto;
	}
	&__btn {
		margin: 25px 0px 0px 0px;
		padding: 0px 35px;
		align-self: center;
		@media (max-width: 767px) {
			padding: 0 25px;
			min-height: 40px;
		}
	}
}
// PROCEDURE

// REVIEW
.review {
	background-color: #fff9f8;
	@include adaptiv-value("padding-top", 130, 50, 1);
	@include adaptiv-value("padding-bottom", 140, 50, 1);
	margin: 0px 0px 60px 0px;
	@media (max-width: 424px) {
		margin: 0px 0px 30px 0px;
	}
	&__slider {
	}
}
.slider-review {
	&__wrapper {
	}
	&__slide {
		text-align: center;
	}
	&__dots {
		margin: 60px 0px 0px 0px;
		display: flex;
		justify-content: center;
		@media (max-width: 767px) {
			margin: 35px 0px 0px 0px;
		}
		.swiper-pagination-bullet {
			cursor: pointer;
			display: flex;
			width: 10px;
			height: 10px;
			background-color: #ffc3c2;
			border-radius: 50%;
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
		.swiper-pagination-bullet-active {
			background-color: $siteColor;
		}
	}
}

.slide-review {
	&__icon {
		font-size: 59px;
		color: $siteColor;
		margin: 0px 0px 33px 0px;
		@media (max-width: 767px) {
			margin: 0px 0px 15px 0px;
			font-size: 50px;
		}
	}
	&__text {
		font-size: 18px;
		font-family: $Rufina;
		line-height: 35px;
		max-width: 964px;
		margin: 0px auto 43px auto;
		@media (max-width: 767px) {
			font-size: 16px;
			margin: 0px auto 30px auto;
		}
	}
	&__img {
		img {
			width: 76px;
			height: 76px;
			border-radius: 50%;
			text-align: center;
		}
		margin: 0px 0px 30px 0px;
		@media (max-width: 767px) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__name {
		font-size: 22px;
		font-family: $Rufina;
		span {
			font-family: Roboto;
			font-weight: 300;
			font-size: 15px;
		}
	}
}
// REVIEW

// TEAM
.team {
	@include adaptiv-value("padding-top", 80, 20, 1);
	@include adaptiv-value("padding-bottom", 215, 100, 1);
	&__row {
		margin: 95px 0px 0px 0px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		@media (max-width: 1023px) {
			grid-column-gap: 20px;
		}
		@media (max-width: 767px) {
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 60px;
		}
		@media (max-width: 424px) {
			grid-template-columns: repeat(1, 1fr);
			margin: 50px 0px 0px 0px;
		}
	}
	&__column {
	}
	&__item {
		&:hover {
			.info-team__social {
				margin-top: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.item-team {
	position: relative;
	&__img {
		padding: 0px 0px 120.5% 0px;
	}
	&__info {
	}
}
.info-team {
	background-color: #fff;
	box-shadow: 0 5px 20px #f0f0f0;
	max-width: 300px;
	margin: 0px auto;
	padding: 30px 10px 30px 10px;
	text-align: center;
	transition: transform 0.3s ease-in-out;
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	@media (max-width: 1023px) {
		padding: 20px 10px 20px 10px;
	}
	&__name {
		font-family: $Rufina;
		font-weight: 700;
		font-size: 22px;
		margin: 0px 0px 13px 0px;
	}
	&__specialy {
		color: #777777;
		font-weight: 300;
		font-size: 15px;
		display: block;
		margin: 0px 0px 15px 0px;
	}
	&__social {
		margin-top: -30px;
		transition: all 0.3s ease-in-out;
		opacity: 0;
		visibility: hidden;
		display: flex;
		justify-content: center;
	}
	&__social-link {
		border: 1px solid #30383b;
		border-radius: 50%;
		color: #30383b;
		display: inline-block;
		font-size: 13px;
		text-align: center;
		line-height: 30px;
		margin: 0 5px;
		height: 30px;
		width: 30px;
		transition: all 0.3s ease;
		&:hover {
			background-color: $siteColor;
			border-color: $siteColor;
			color: #fff;
		}
	}
}
// TEAM

// APPOINTMENT
.appointment {
	background-color: #fff9f8;
	&__row {
		display: flex;
	}
	&__image {
		flex: 0 1 41%;
		@media (max-width: 1023px) {
			display: none;
		}
	}
	&__form {
		flex: 0 1 59%;
		padding: 0px 15px 0px 100px;
		@include adaptiv-value("padding-top", 130, 40, 1);
		@include adaptiv-value("padding-bottom", 130, 40, 1);
		@media (max-width: 1200px) {
			padding-left: 50px;
		}
		@media (max-width: 1023px) {
			padding-left: 10px;
			padding-right: 10px;
			flex: 0 1 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
// APPOINTMENT

// BLOG
.blog {
	@include adaptiv-value("padding-top", 140, 60, 1);
	@include adaptiv-value("padding-bottom", 20, 0, 1);

	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		margin: 70px 0px 0px 0px;
		@media (max-width: 1023px) {
			grid-column-gap: 20px;
		}
		@media (max-width: 767px) {
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 20px;
			justify-content: center;
			margin: 40px 0px 0px 0px;
		}
		@media (max-width: 560px) {
			grid-template-columns: 1fr;
		}
	}
	&__column {
	}
	&__item {
		padding: 20px 20px 38px 20px;
	}
}

.item-blog {
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #e3e6ea;
	text-align: center;
	transition: box-shadow 0.3s ease;
	&:hover {
		box-shadow: 0 15px 40px rgba(4, 10, 50, 0.1);
	}
	@media (max-width: 1023px) {
		padding: 15px 15px 50px 15px;
	}
	@media (max-width: 767px) {
		padding: 15px 15px 30px 15px;
	}
	@media (max-width: 560px) {
		max-width: 400px;
		margin: 0px auto;
	}
	&__img {
		padding: 0px 0px 98% 0px;
	}
	&__date {
		margin: 36px 0px 18px 0px;
		text-align: center;
		span {
			font-size: 12px;
			font-weight: 300;
			color: $textColor;
			text-transform: uppercase;
			&:first-child {
				margin: 0px 11px 0px 0px;
				padding: 0px 11px 0px 0px;
				border-right: 1px solid #c4c4c4;
			}
		}
	}
	&__title {
		color: #30383b;
		font-family: $Rufina;
		font-size: 22px;
		font-weight: 700;
		margin: 0px 0px 18px 0px;
	}
	&__text {
		color: $textColor;
		font-weight: 300;
		line-height: 27px;
		margin: 0px 0px 35px 0px;
		flex: 1 1 auto;
	}
	&__inner {
	}
	&__btn {
		padding: 0px 35px;
		align-self: center;
	}
}

// BLOG

//CONTACTS
.contacts {
	@include adaptiv-value("padding-top", 110, 40, 1);
	@include adaptiv-value("padding-bottom", 140, 60, 1);
	&__row {
		display: flex;
		margin: 80px auto 0px auto;
		max-width: 930px;
		@media (max-width: 767px) {
			flex-wrap: wrap;
			margin: 40px auto 0px auto;
			max-width: 540px;
		}
	}
	&__details {
		flex: 0 1 42%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
			margin: 0px 0px 40px 0px;
		}
		margin: 11px 0px 0px 0px;
	}
	&__form {
		flex: 0 1 58%;
		margin: -6px 0px 0px 0px;
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}
}

.details-contacts {
	&__wrapper {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin: 0px 0px 45px 0px;
			@media (max-width: 767px) {
				margin: 0px 0px 35px 0px;
			}
		}
	}
	&__icon {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $siteColor;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin: 0px 30px 0px 0px;
	}
	&__text {
		color: $textColor;
		line-height: 27px;
		text-transform: uppercase;
		font-style: normal;
	}
	&__mails {
	}
	&__mail {
		display: block;
		color: $textColor;
		line-height: 27px;
		text-transform: uppercase;
		transition: color 0.3s ease;
		&:hover {
			color: $siteColor;
		}
	}
	&__phones {
	}
	&__phone {
		display: block;
		display: block;
		color: $textColor;
		line-height: 27px;
		text-transform: uppercase;
		transition: color 0.3s ease;
		&:hover {
			color: $siteColor;
		}
	}
}

//CONTACTS
