//МИКСИНЫ
@import "mixins";
//МИКСИНЫ

//ШРИФТЫ

// Подключение шрифтов
@import "fonts";
// Подключение шрифтов

// Иконочный шрифт
@import "icons";
// Иконочный шрифт

//ШРИФТЫ

// ПЕРЕМЕННЫЕ
@import "vars";
// ПЕРЕМЕННЫЕ

// ОБНУЛЕНИЕ
@import "reset";
body {
	color: $mainColor;
	font-family: $fontFamily;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
// ОБНУЛЕНИЕ

// ОБОЛОЧКА
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
// ОБОЛОЧКА

// КОНТЕЙНЕР
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 10px;
}
// КОНТЕЙНЕР

// Подключение файлов
@import "forms";
@import "fw";
@import "bam";
@import "aos";
// Подключение файлов

// Подключени файлов стилей и страниц
@import "popup";
@import "header";
@import "footer";
@import "home";
// Подключени файлов стилей и страниц

// Основной блок
.page {
	flex: 1 1 auto;
}
// Основной блок
