// Цвета
$mainColor: #263a41;
$textColor: #888888;
$siteColor: #ff817e;
// Цвета

// Шрифты
$fontFamily: "Roboto";
$Rufina: "Rufina";
// Шрифты

// Контаинер
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1160;
// Контаинер
